:root {
	--dark-purple: #7175D9;
}

html, body {
	height: 100%;
	width: 100%;
}

ul {
	margin-top: 3px;
	/*margin-left: 2px;*/
}

#navbar {
	height: 70px;
	border: 7px solid black;
	width: 100%;
}

#landing {
	background-color: var(--dark-purple);
	height: 100%;
	width: 100%;
}

#nav {
	height: 50px;
	
}

#nav:hover {
	animation: bounce .8s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

